body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-top: 30px;
  font-family: Arial, sans-serif;
}

#navigation {
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: 30px;
}

#navigation #openHistory,
#navigation #back,
#navigation #forward,
#navigation #refresh {
  border:none;
  background-color: blue;
  color: white;
  margin:0;
  padding: 0 10px;
  height: 100%;
}

#navigation #openHistory:hover,
#navigation #back:hover,
#navigation #forward:hover,
#navigation #refresh:hover {
  background-color: #000080;
  cursor: pointer;
}

#omnibox { 
  flex: 1;
  margin: 0 20px;
}

#omnibox input {
  width: 100%;
  border: solid 2px silver;
  border-radius: 2px;
}

#middle {
  height: calc(100vh-30px);
}

#history { 
  display: none;
  position:fixed;
  top:0;
  left:0;
  width: 260px;
  overflow: auto;
  height: 100vh;
  background-color: #f1f1f1;
  z-index: 2;
  padding: 10px;
}

#historyPaneClose {
  float: right;
  border: none;
}

#views {
  float: right;
  width: 100%;
  margin-top: 30px;
  margin-left: 260px;
}

#view {
  display: flex;
  height: 100vh;
  width: 100%;
}

.history {
  height: 100%;
  background-color: #f1f1f1;
  position:fixed;
}
